<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Thermostat</title>
  <script src="../src/Thermostat.js"></script>

</head>

<body>
  <h1> Thermostat </h1>

<form>
  <input type="submit" name="currenttemp" value="Current temperature">
  <br>
  Up: <br>
  <input type="number" name="upnumber"> <br>
  <input type="submit" name="up">
  <br>
  Down: <br>
  <input type="number" name="downnumber"> <br>
  <input type="submit" name="down">
  <br>
  <input type="submit" name="psmon" value="Power Saving Mode on">
  <br>
  <input type="submit" name="psmoff" value="Power Saving Mode off">
  <br>
  <input type="submit" name="displayenergyusage" value="Display energy usage">
  <br>
  <input type="submit" name="reset" value="Reset">
  <br>
</form>



</body>
</html>
